body {
	font-family: sans-serif;
	background-color: #ddd;	
}

#fractal {
	margin-top: 1em;
}

#generate {
	float: clear-all;
	display: block;
}

#formula {
	width: 30vw;
}

main {
	float: left;
}

fieldset > label {
	display: block;
	margin-top: 1em;
}
